In [1]:
import pandas as pd

In [2]:
file_name = "base-data.xlsx"

siniestros_df = pd.read_excel(io=file_name, sheet_name='SINIESTROS')

In [3]:
def make_date(df):
    df["datetime"] = pd.to_datetime(df["FECHA"], format="mixed")
    
def make_datetime(df):
    df["datetime"] = pd.to_datetime(df["FECHA"].str.cat(df["HORA"], sep=" "), format="mixed")

    
def clean_direccion(data):
     return " ".join(data.split()[:-1])
    
siniestros_df['DIRECCION_BASE'] = siniestros_df['DIRECCION'].apply(clean_direccion)
make_datetime(siniestros_df)

In [4]:
siniestros_df

,CODIGO_ACCIDENTE,FECHA,HORA,GRAVEDAD,CLASE,CHOQUE,OBJETO_FIJO,DIRECCION,CODIGO_LOCALIDAD,DISENO_LUGAR,DIRECCION_BASE,datetime
0,4401438,01/01/2015,01:05:00,2,2,NaN,NaN,KR 64A-CL 2C 02,16,2,KR 64A-CL 2C,2015-01-01 01:05:00
1,4401449,01/01/2015,05:50:00,2,3,NaN,NaN,AV AVENIDA DEL SUR-KR 65A 41,7,1,AV AVENIDA DEL SUR-KR 65A,2015-01-01 05:50:00
2,4401430,01/01/2015,07:15:00,2,3,NaN,NaN,KR 19D-CL 62 S 02,19,1,KR 19D-CL 62 S,2015-01-01 07:15:00
3,4401453,01/01/2015,09:30:00,3,1,1.0,NaN,KR 79-CL 42F S 71,8,1,KR 79-CL 42F S,2015-01-01 09:30:00
4,4401423,01/01/2015,09:45:00,2,1,1.0,NaN,CL 66A-KR 76 02,10,2,CL 66A-KR 76,2015-01-01 09:45:00
...,...,...,...,...,...,...,...,...,...,...,...,...
196147,10530481,31/12/2020,21:20:00,3,1,1.0,NaN,CL 42-KR 86 S 02,8,1,CL 42-KR 86 S,2020-12-31 21:20:00
196148,10530439,31/12/2020,21:30:00,2,1,1.0,NaN,KR 111-CL 171 02,11,2,KR 111-CL 171,2020-12-31 21:30:00
196149,10530491,31/12/2020,21:34:00,3,1,1.0,NaN,CL 134-KR 5 08,1,1,CL 134-KR 5,2020-12-31 21:34:00
196150,10531380,31/12/2020,21:40:00,2,1,1.0,NaN,CL 142 - KR 146 02,11,1,CL 142 - KR 146,2020-12-31 21:40:00
196151,10530469,31/12/2020,22:34:00,3,1,1.0,NaN,KR 52-DG 16 S 02,16,2,KR 52-DG 16 S,2020-12-31 22:34:00

In [ ]:
n = 313 # More equal than 50 all ds
siniestros_df.DIRECCION_BASE.value_counts()[:n]

In [ ]:
file_name = 'accidents-by-address.csv'
#siniestros_df.DIRECCION_BASE.value_counts().to_csv(file_name, sep='\t')